SampleData/SubjectSampleDataSource/SubjectSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.SubjectSampleDataSource" targetNamespace="Blend.SampleData.SubjectSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SubjectSampleDataSource" type="tns:SubjectSampleDataSource" />
  <xs:complexType name="SubjectSampleDataSource">
    <xs:sequence>
      <xs:element name="Subject" type="tns:Subject" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Subject">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SubjectItem" type="tns:SubjectItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SubjectItem">
    <xs:attribute blend:FormatParameters="2,8" name="Title" type="xs:string" />
    <xs:attribute blend:Format="Time" name="TimeStart" type="xs:string" />
    <xs:attribute blend:Format="Time" name="TimeEnd" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
  </xs:complexType>
</xs:schema>