SampleData/TaskSampleDataSource/TaskSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Blend.SampleData.TaskSampleDataSource" targetNamespace="Blend.SampleData.TaskSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TaskSampleDataSource" type="tns:TaskSampleDataSource" />
  <xs:complexType name="TaskSampleDataSource">
    <xs:sequence>
      <xs:element name="Task" type="tns:Task" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Task">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="TaskItem" type="tns:TaskItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaskItem">
    <xs:attribute blend:FormatParameters="2,8" name="Title" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute blend:Format="Date" name="NotificationTime" type="xs:string" />
    <xs:attribute blend:FormatParameters="2" name="SubjectId" type="xs:double" />
  </xs:complexType>
</xs:schema>